<div class="Container">
  <div class="navBar-container">
    <div class="logo">
      <img src="../assets/images/ZenduForms.svg" />
    </div>
    <div class="btns-container">
      <button>
        <img src="../assets/images/Vector.svg" /><span>Forms</span>
      </button>
      <button>
        <img src="../assets/images/Customers.svg" /><span>Customers</span>
      </button>
      <button class="active-btn">
        <img src="../assets/images/Submissions.svg" /><span>Submissions</span>
      </button>
      <button>
        <img src="../assets/images/History.svg" /><span>History</span>
      </button>
      <button>
        <img src="../assets/images/Reports.svg" /><span>Reports</span>
      </button>
      <button>
        <img src="../assets/images/Workflow.svg" /><span>Workflow</span>
      </button>
    </div>
    <div class="logs">
      <button><img src="../assets/images/Notifications.svg" /></button>
      <button><img src="../assets/images/Righterrow.svg" /></button>
    </div>
  </div>
  <div class="heading">
    <h2>Submissions</h2>
  </div>
  <div class="filter-containert">
    <div class="filters-wrap">
      <div class="search-field">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="search" placeholder="Search..." />
      </div>
      <div class="select-form">
        <select>
          <option>Uncomplete</option>
          <option>Complete</option>
        </select>
      </div>
      <div class="select-status">
        <select>
          <option>Uncomplete</option>
          <option>Complete</option>
        </select>
      </div>
      <div class="date-status">
        <input type="date" [ngModel] ="date | date:'yyyy-MM-dd'"/>
      </div>
    </div>

    <div class="btn-group">
      <button [ngClass]="{'active': activeToggle === 'map'}" type="button" (click)="changeToggle('map')">Map</button>
      <button [ngClass]="{'active': activeToggle === 'list'}" type="button" (click)="changeToggle('list')">List</button>
    </div>
    <div class="export-files">
      <button (click)="exportImage()">
        <img src="../assets/images/file.svg" /><span>export</span>
      </button>
    </div>
  </div>
  <div class="content-container">
    <div class="cards">
      <ul>
        <li style="list-style: none;" *ngFor="let data of mapData">
          <div class="card-content">
            <div class="inner-wrap">
              <h3>Work Flow: {{data.workFlow}} <img class="active-img" src="../assets/images/uncomplete.svg"></h3>
              <p><span>From:</span> {{data.from}}</p>
              <p><span>To:</span> {{data.to}}</p>
              <p class="date-clr"><span>Due Date:</span> {{data.dueDate}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="map1">
      <div class="map" id="map" class="match-parent"></div>
    </div>
  </div>
</div>
